<body>
  <a href="/">Home</a>
  <a href="/hobbies">Hobbies</a>
  <h1>My Hobbies</h1>
  <ul>
    <li>Drag Racing</li>
    <li>Model boat building</li>
    <li>Radio Control Planes and Cars</li>
    <li>Working on my Chevelle</li>
  </ul>
</body>
